*{
    margin: 0px;
}
/* bootstrap navbar start */
.navbar-brand{
    font-size: 45px !important;
    font-weight: bolder !important;
}
.nav-link{
    font-size: 25px;
    font-weight: bold !important;
}
.d-block{
    width: 100%;
    height: 600px;
    margin-top: 80px;
}
.other-ex1{
    width: 100%;
    height: 700px;
    margin-top: 60px;

}
.arrival{
    width: 100%;
    height: auto;
    /* background-color: aquamarine; */
}
/* .our-menu-main-div{
    background-color: lightsteelblue;
    margin-left: 120px;
    margin-right: 120px;
} */
.arrival-sub-div1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    
}
.arrival-titlebar{  
    margin-top: 50px;
    text-align: center;
}
.arrival-sub-div1 h1{
    font-size: 36px;
    color: black;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
}


.arrival-sub-div2{
    margin:20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;

}
.arrival-box{
    /* background-color: aqua; */
    margin: 20px;
    width: 380px;
    height:390px;
    border: 15px solid white;
    box-shadow: 0 5px 35px rgba(7, 7, 7, 0.523);
}
.arrival-box img{
    width: 350px;
    height: 320px;
    
}


.arrival-box p{
    font-size: 20px;
    color: black;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 15px;
}


.arrival-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-now{
    margin-top: 20px;
    display: flex;
    font-size: 17px;
    font-family: 'Poppins', sans-serif ;
    color: white;
    background-color: rgb(248, 52, 97);
    text-decoration: none;
    padding: 12px 40px;
    letter-spacing: 3px;
    border: 1px solid red;
    cursor: pointer; 
    transition: 0.3s;
}
.shop-now:hover{
    letter-spacing: 8px;
}
.watch{
    width: 100%;
    height: auto;

    /* background-color: aquamarine; */
}
/* .our-menu-main-div{
    background-color: lightsteelblue;
    margin-left: 120px;
    margin-right: 120px;
} */
.watch-sub-div1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    
}
.watch-titlebar{  
    margin-top: 50px;
    text-align: center;
}
.watch-sub-div1 h1{
    font-size: 36px;
    color: black;
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
}


.watch-sub-div2{
    margin:20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;

}
.watch-box{
    /* background-color: aqua; */
    margin: 20px;
    width: 380px;
    height:390px;
    border: 15px solid white;
    box-shadow: 0 5px 35px rgba(7, 7, 7, 0.523);
}
.watch-box img{
    width: 350px;
    height: 320px;
    
}


.watch-box p{
    font-size: 20px;
    color: black;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 15px;
}


.watch-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-now2{
    margin-top: 20px;
    display: flex;
    font-size: 17px;
    font-family: 'Poppins', sans-serif ;
    color: white;
    background-color: rgb(248, 52, 97);
    text-decoration: none;
    padding: 12px 40px;
    letter-spacing: 3px;
    border: 1px solid red;
    cursor: pointer; 
    transition: 0.3s;
}
.shop-now2:hover{
    letter-spacing: 8px;
}
.other3-ex3{
    width: 100%;
    height: 500px;
    margin-top: 30px;
    

}
.footer{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: rgba(2, 8, 56, 1);
}
.footer-main-div{
    margin: 0px 0px;
    /* background-color: aquamarine; */
}
.footer-sub-div1{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.footer-sub-div1 .footer-sub-child-div1{
    width: 360px;
    height: 400px;
    /* background-color: rgb(173, 137, 206); */
    margin-left: 30px;
}

.footer-sub-div1 .footer-sub-child-div1 p{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: rgb(198, 194, 194);
    margin-top: 20px;
    line-height: 50px;

}
.footer-sub-div1 .footer-sub-child-div2{
    width: 240px;
    height: 400px;
    /* background-color: blueviolet; */
}
.footer-sub-div1 .footer-sub-child-div2 h1{
    margin-top: 75px;
    margin-bottom: 35px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.footer-sub-div1 .footer-sub-child-div2 p{
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    line-height: 31px;
    color: rgb(192, 188, 188);
    margin-left: 90px;
}
.footer-sub-div1 .footer-sub-child-div3{
    width: 240px;
    height: 400px;
    /* background-color: blueviolet; */
}
.footer-sub-div1 .footer-sub-child-div3 h1{
    margin-top: 75px;
    margin-bottom: 25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.footer-sub-div1 .footer-sub-child-div3 p{
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    line-height: 47px;
    color: rgb(192, 188, 188);
    margin-left: 60px;
}
.footer-sub-div1 .footer-sub-child-div4{
    width: 240px;
    height: 400px;
    /* background-color: blueviolet; */
}
.footer-sub-div1 .footer-sub-child-div4 h1{
    margin-top: 75px;
    margin-bottom: 25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.footer-sub-div1 .footer-sub-child-div4 p{
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    line-height: 47px;
    color: rgb(192, 188, 188);
    margin-left: 90px;
}
.footer-sub-div1 .footer-sub-child-div4 .service{
    margin-top: -25px;
}


.footer-sub-div3{
    margin: 0px 150px;
    margin-top: 40px;
}
.footer-sub-div3 h1{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: italic;
    color: white;
}
.footer-sub-div3 input{
    width: 600px;
    height: 70px;
    font-size: 30px;
    padding-left: 45px;
    border: 1px solid white;
    border-radius: 12px;
    margin-top: 20px;

}
.footer-sub-div3 button{
    width: 180px;
    height: 70px;
    font-size: 35px;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 12px;
    color: white;
}
hr{
    margin-top: 60px;
    height: 5px;
    background-color: rgb(242, 242, 242);
}