*{
    margin: 0px;
}
/* bootstrap navbar start */
.navbar-brand{
    font-size: 45px !important;
    font-weight: bolder !important;
}
.nav-link{
    font-size: 25px;
    font-weight: bold !important;
}
.others-ex2{
    width: 100%;
    height: 560px;
    margin-top: 20px;
}
.about{
    width: 100%;
    height:auto;
    /* background-color:yellowgreen; */
}
.about-main-div{
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: 0px 0px;
}
.about-sub-div1{
    width: 500px;
    height: auto;
    margin-top: 50px;
    /* background-color: blueviolet; */
}
.about-sub-div1 span{
    color: rgb(248, 52, 97) ;
    font-size: 50px;
    font-family:'Poppins', sans-serif ;
}
.about-sub-div1 h1{
    font-size: 36px;
    color: black;
    font-family:'Poppins', sans-serif ;
    font-weight: bolder;
}
.about-sub-div1 p{
    font-size: 19px;

}

.about-sub-div2{
    width:600px;
    height:450px;
    margin-top: 120px;
    /* background-color: rgb(215, 186, 243); */
}
.about-sub-div2 img{
    width: 600px;
    height: 450px;
    border-radius: 15px;
}
.footer{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: rgba(2, 8, 56, 1);
}
.footer-main-div{
    margin: 0px 0px;
    /* background-color: aquamarine; */
}
.footer-sub-div1{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.footer-sub-div1 .footer-sub-child-div1{
    width: 360px;
    height: 400px;
    /* background-color: rgb(173, 137, 206); */
    margin-left: 30px;
}

.footer-sub-div1 .footer-sub-child-div1 p{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: rgb(198, 194, 194);
    margin-top: 20px;
    line-height: 50px;

}
.footer-sub-div1 .footer-sub-child-div2{
    width: 240px;
    height: 400px;
    /* background-color: blueviolet; */
}
.footer-sub-div1 .footer-sub-child-div2 h1{
    margin-top: 75px;
    margin-bottom: 35px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.footer-sub-div1 .footer-sub-child-div2 p{
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    line-height: 31px;
    color: rgb(192, 188, 188);
    margin-left: 90px;
}
.footer-sub-div1 .footer-sub-child-div3{
    width: 240px;
    height: 400px;
    /* background-color: blueviolet; */
}
.footer-sub-div1 .footer-sub-child-div3 h1{
    margin-top: 75px;
    margin-bottom: 25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.footer-sub-div1 .footer-sub-child-div3 p{
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    line-height: 47px;
    color: rgb(192, 188, 188);
    margin-left: 60px;
}
.footer-sub-div1 .footer-sub-child-div4{
    width: 240px;
    height: 400px;
    /* background-color: blueviolet; */
}
.footer-sub-div1 .footer-sub-child-div4 h1{
    margin-top: 75px;
    margin-bottom: 25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.footer-sub-div1 .footer-sub-child-div4 p{
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    line-height: 47px;
    color: rgb(192, 188, 188);
    margin-left: 90px;
}
.footer-sub-div1 .footer-sub-child-div4 .service{
    margin-top: -25px;
}

.footer-sub-div2{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 50px;
}
.footer-sub-div2 img{
    width: 220px;
    height: 120px;
    margin-top: 80px;
}
.footer-sub-div3{
    margin: 0px 150px;
    margin-top: 40px;
}
.footer-sub-div3 h1{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: italic;
    color: white;
}
.footer-sub-div3 input{
    width: 600px;
    height: 70px;
    font-size: 30px;
    padding-left: 45px;
    border: 1px solid white;
    border-radius: 12px;
    margin-top: 20px;

}
.footer-sub-div3 button{
    width: 180px;
    height: 70px;
    font-size: 35px;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 12px;
    color: white;
}
hr{
    margin-top: 60px;
    height: 5px;
    background-color: rgb(242, 242, 242);
}